<!-- TO DO refactor pages into 1; include main partial based on route; + objects for other partials-->
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs', {title: viewData.title}); %>
</head>

<body>
    <div class="main-wrapper">
        <%- include('../partials/nav.ejs'); %>
            <header>
                <%- include('../partials/header.ejs',{h2: viewData.h2}); %>
            </header>
            <main>
                <div class="container-fluid main-content">
                    <%- include(viewData.partial,{}); %>
                </div>
            </main>
            <footer>
                <%- include('../partials/footer.ejs',{date: new Date().getFullYear()}); %>
            </footer>
    </div>
    <%- include('../partials/scripts.ejs',{});%>
</body>

</html>