<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs', {title: 'Login'}); %>
</head>

<body>
   <%- include('../partials/nav.ejs',{}); %>
    <header>
      <%- include('../partials/header.ejs',{}); %>
    </header>
    <main>
        <div class="container-fluid main-content">
            <%- include('../partials/login-partial.ejs',{}); %>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs',{date: new Date().getFullYear()}); %>
    </footer>
    <%- include('../partials/scripts.ejs', {}); %>
</body>
</html>
