<div class="row text-center">
    <h2>Poll: <%= pollTitle.toUpperCase() %></h2>
    <div class="col-md-4 col-md-offset-2">
        <div class="message col-xs-12"></div>
        <form id="updatePoll" method="post"  data-optionsCount="<%= pollOptions.length %>" class="form-horizontal" action="/settings/polls/<%= pollID %>/update">
            <% pollOptions.forEach(function(poll,i){%>
                <div class="form-group">
                    <label class="col-sm-2" for="<%= i %>"><%= 'Option'+(i+1) %></label>
                    <div class="col-sm-10">
                        <input type="text" id="<%= i %>" class="form-control" placeholder="<%= poll.name %>" disabled/>
                    </div>
                </div>
            <% }); %>
            <div class="form-btns">
                <button id="add-option" class="btn btn-primary btn-block">
                    Add one option
                </button>
                <button id="delete-option" class="btn btn-warning btn-block">
                    Delete last option
                </button>
                <button  id="update-poll" class="btn btn-success btn-block">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-4">
         <p>Pie chart</p>
         <div id="chart-div"></div>
         <p class="hidden"></p>
         <form id="deletePoll" method="post" action="/settings/polls/<%= pollID %>/delete">
            <div class="checkbox" style="display:inline-block;">
                <label>
                    <input type="checkbox" value="">Are you sure?
                </label>
            </div>
            <div class="form-btns" style="display:inline-block;">
                <button id="delete-poll" type="submit" class="btn btn-danger btn-lg">
                    Delete
                </button>
            </div>
        </form>
    </div>
</div>